#canvas {
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: center; /* Center horizontally */
    align-items: center; 
    display: flex;
}




h1 {
    margin: auto;
    text-align: center;
    font-family: "Pixelify Sans", serif;
    font-weight: 400;
    font-size: 75px;
    
}

#inputs {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    justify-content: center; /* Center horizontally */
    align-items: center; 
    display: flex;
    gap: 10px;
}

#population {
    margin-left: 1000px;
}

#main_paragraph {
    margin-right: 10px;
    margin-left: 10px;
}

#collButton-container {
    margin:auto;
    margin-top:10px;
    position:relative;
    align-items:center;
    display: flex;
}

#collapsibleButton {
    margin:auto;
    justify-content:center;
    margin-bottom:5px;
    
}